{% extends "SofidCommercantBundle::dashboard.html.twig" %}

              {% block menu %}     
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                      <li class="limenu"><a href="{{ path('dashboard') }}"><span class="ico gray shadow home" ></span><b>Dashboard</b></a></li>
                      <li class="limenu"><a href="{{ path('list_fideles') }}"><span class="ico gray shadow group" ></span><b>Liste des Fid&egrave;les</b></a></li>
					  <li class="limenu" ><a href="{{ path('list_paliers') }}" ><span class="ico gray shadow pyramid"></span><b>Paliers</b></a></li>
					  <li class="limenu" ><a href="{{ path('list_offres') }}" ><span class="ico gray shadow star"></span><b>Offres</b></a></li>
					  <li class="limenu" ><a href="{{ path('fos_user_profile_edit') }}" ><span class="ico gray shadow administrator"></span><b>Profil</b></a></li>
                      <li class="limenu select" ><a href="{{ path('fos_user_change_password') }}" ><span class="ico gray shadow lock"></span><b>Mot de passe</b></a></li>
                      <li class="limenu" ><a href="{{ path('sms') }}" ><span class="ico gray shadow mail"></span><b>SMS</b></a></li>
                    </ul>
              </div>          
			  {% endblock %}

{% block titre %}Changer le mot de passe{% endblock %}

{% block content %}

	{% block fos_user_content %}
	
		{% include "SofidUserBundle:Profile:show_content.html.twig" %}
	
	{% endblock fos_user_content %}

{% endblock %}