<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal" id="validation_demo">
    
    					<!-- Third / Half column-->
						<div class="widgets">
							<div class="oneThree">
                            </div>

                            <div class="twoOne">

{{ form_errors(form) }}
                            
        <div class="section ">
            <label>Mot de Passe Actuel</label> 
            <div class="controls">{{ form_widget(form.current_password) }}</div>
        </div>                 
        <div class="section ">
            <label>Nouveau Mot de Passe</label> 
            <div class="controls">{{ form_widget(form.new.first) }}</div>
        </div>
        <div class="section ">
            <label>V&eacute;rification</label> 
            <div class="controls">{{ form_widget(form.new.second) }}</div>
        </div>

        <div class="section last">
        {{ form_rest(form) }}
        	<input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="uibutton submit_form" />
        </div>

						</div><!-- End Third / Half column-->
    
</form>