{% extends "SofidCommercantBundle::dashboard.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript">
        $(function () {
            $('input').tipsy({fade: true, gravity: 'w'});
            $("#submit").click(function() {

                loading('Checking');
                $('#preloader').html('Envoi...');

                var question_title = $("#question_title").val();
                var completion_point = $("#completion_point").val();
                var comment_point = $("#comment_point").val();
                var delay = $("#delay").val();
                var divided_value = $("#divided_value").val();
                var delayed_customer_message = $("#delayed_customer_message").val();
                var delayed_thanks_message = $("#delayed_thanks_message").val();
                var option_title = $('input[name="option_title[]"]').map(function () {
                    return $(this).val();
                }).get();

                $.ajax({
                    url: Routing.generate('pool_save'),
                    type: 'POST',
                    data: { question_title: question_title, option_title: option_title,
                        comment_point: comment_point, completion_point: completion_point, delay: delay,
                        divided_value: divided_value, delayed_customer_message: delayed_customer_message,
                        delayed_thanks_message: delayed_thanks_message},
                    success: function(data, textStatus, xhr) {
                        if (data.error)
                        {
                            if (data.error == "2")
                            {
                                showError('Aucun fid&egrave;le',5000);
                            }else
                            {
                                showError('Echec',5000);
                            }
                            unloading();
                        }else {
                            showSuccess('Succ&egrave;s',5000);
                            unloading();
                            location.reload();
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        unloading();
                    }
                });
            });

        });
    </script>
{% endblock %}

              {% block menu %}
                  <div id="left_menu">
                      <ul id="main_menu" class="main_menu">
                          <li class="limenu"><a href="{{ path('dashboard') }}"><span class="ico gray shadow home" ></span><b>Dashboard</b></a></li>
                          <li class="limenu"><a href="{{ path('list_fideles') }}"><span class="ico gray shadow group" ></span><b>Liste des Fid&egrave;les</b></a></li>
                          <li class="limenu" ><a href="{{ path('list_paliers') }}" ><span class="ico gray shadow pyramid"></span><b>Paliers</b></a></li>
                          <li class="limenu" ><a href="{{ path('list_offres') }}" ><span class="ico gray shadow star"></span><b>Offres (Pro)</b></a></li>
                          <li class="limenu" ><a href="{{ path('sms') }}" ><span class="ico gray shadow mail"></span><b>SMS (Pro)</b></a></li>
                          <li class="limenu select" ><a href="{{ path('pool_homepage') }}" ><span class="ico gray shadow mail"></span><b>Satisfaction (Pro)</b></a></li>
                          <li class="limenu" ><a href="{{ path('fos_user_profile_edit') }}" ><span class="ico gray shadow administrator"></span><b>Profil</b></a></li>
                          <li class="limenu" ><a href="{{ path('fos_user_change_password') }}" ><span class="ico gray shadow lock"></span><b>Mot de passe</b></a></li>
                      </ul>
                  </div>
              {% endblock %}

{% block titre %}Satisfaction{% endblock %}

{% block content %}

    <form action="" method="POST" id="validation_demo">

        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
            </div>

            <div class="twoOne">

                <div class="section ">
                    <label>Phrase d’introduction</label>
                    <div class="controls"><input name="question_title" id="question_title" type="text" title="Hint: Quelle est votre opinion au sujet de:" /></div>

                    <label>Nombre de points gagnés pour la soumission</label>
                    <div class="controls"><input name="completion_point" id="completion_point" type="text" title="Hint: 5" /></div>


                    <label>Points gagnés par commentaire laissé</label>
                    <div class="controls"><input name="comment_point" id="comment_point" type="text" title="Hint: 2" /></div>

                    <label>Elément évalué no. 1</label>
                    <div class="controls"><input name="option_title[]" id="option_title_1" type="text" title="Hint: L’accueil" /></div>

                    <label>Elément évalué no. 2</label>
                    <div class="controls"><input name="option_title[]" id="option_title_2" type="text" title="Hint: La qualité des produits" /></div>

                    <label>Elément évalué no. 3</label>
                    <div class="controls"><input name="option_title[]" id="option_title_3" type="text" title="Hint: La qualité des produits" /></div>

                    <label>Elément évalué no. 4</label>
                    <div class="controls"><input name="option_title[]" id="option_title_4" type="text" title="Hint: La vitesse de service" /></div>

                    <label>Elément évalué no. 6</label>
                    <div class="controls"><input name="option_title[]" id="option_title_5" type="text" title="Hint: Votre expérience globale d’achat chez nous" /></div>
                </div>
                <div class="section">
                    <label>Delai de re-soumission</label>
                    <div class="controls"><input name="delay" id="delay" type="text" title="Hint: 10 days" /></div>

                    <label>Dénominateur de re-soumission</label>
                    <div class="controls"><input name="divided_value" id="divided_value" type="text" title="Hint: 5" /></div>

                    <label>Message d’information de re-soumission</label>
                    <div class="controls"><input name="delayed_customer_message" id="delayed_customer_message" type="text" title="Hint: are you want to pool?" /></div>

                    <label>Message en cas de re-soumission</label>
                    <div class="controls"><input name="delayed_thanks_message" id="delayed_thanks_message" type="text" title="Hint: are you want to pool?" /></div>
                </div>

                <div class="section last">
                    <input type="button" value="confirmer" class="uibutton submit_form" id="submit" />
                </div>

            </div><!-- End Third / Half column-->
        </div>
    </form>

{% endblock %}
